<div class="shadow p-2 my-1 card-overview card-overview-info" style="background-color:white;">
  <div class="text-sm text-secondary d-flex justify-content-between">
    <p><%= DateTime.parse(flight["departure_time"]).strftime('%d %b, %Y')%></p>
    <p><%="#{flight["airline"]} #{flight["flight_code"]}"%></p>
  </div>
  <div class="d-flex justify-content-around align-items-center">
    <div class="flight-time-location bg-light pt-2 text-center" style="background-color:white;">
      <h3 class="m-0"><%= DateTime.parse(flight["departure_time"]).strftime('%H:%M')%>h</h3>
      <p><%= flight["departure_city"] %></p>
    </div>
    <% if status == "confirmed" %>
      <%= render 'shared/flight_confirmed_icon' %>
    <% else %>
      <%= render 'shared/flight_question_icon' %>
    <% end %>
    <div class="flight-time-location pt-2 text-center">
      <h3 class="m-0"><%= DateTime.parse(flight["arrival_time"]).strftime('%H:%M') %>h</h3>
      <p><%= flight["arrival_city"] %></p>
    </div>
  </div>
</div>
