<div class="row">
    <% if count == 1 %>
      <div class="col-12">
        <div class="d-flex align-items-center"><%= text_field_tag "origin_city#{count}", '', placeholder: 'Departure City', class: 'w-100 origin-city form-control' %></div>
      </div>
      <div class="col-6 mt-3">
        <div class="d-flex align-items-center"><%= render 'shared/integer', label: 'Adults', field_name: "adults#{count}", form_field_class: 'adults'%></div>
      </div>
      <div class="col-6 mt-3">
        <div class="d-flex align-items-center"><%= render 'shared/integer', label: 'Children', field_name: "children#{count}", form_field_class: 'children' %></div>
      </div>
    <% else %>
      <div class="col-11">
        <div class="d-flex align-items-center"><%= text_field_tag "origin_city#{count}", '', placeholder: 'Departure City', class: 'w-100 origin-city form-control' %></div>
      </div>
      <div class="col-1" data-action="click->remove-section#remove">
        <div class="text-secondary clickable d-flex flex-column justify-content-center align-items-center">
        <i class="fas fa-trash-alt"></i>
        </div>
      </div>
      <div class="col-6 mt-3">
        <div class="d-flex align-items-center"><%= render 'shared/integer', label: 'Adults', field_name: "adults#{count}", form_field_class: 'adults'%></div>
      </div>
      <div class="col-6 mt-3">
        <div class="d-flex align-items-center"><%= render 'shared/integer', label: 'Children', field_name: "children#{count}", form_field_class: 'children' %></div>
      </div>
      
    <% end %>
</div>


<%# <form>
  <label for="start">Adults:</label>
  <input type="number" id="number_of_adults" value="0" />
  <label for="start">Children:</label>
  <input type="number" id="number_of_children" value="0" />
</form> %>
