
    <div class="accordion" data-controller="search-form" data-action="click->search-form#updateButton input->search-form#updateButton">
      <div class="row">
        <div class="col-<%= request.url.match?(/itineraries/) ? 12 : 6%> mb-3">
          <div class="card h-100 shadow" id = "searchFormSection2Parent" data-controller="collapsible-sections" data-collapsible-sections-target="section">
            <div class="card-header bg-success">
              <h2 class="mb-0">
                <button class="btn btn-link text-white text-decoration-none w-100" type="button" data-action = "click->collapsible-sections#toggleCollapse" id = "searchFormSection2">
                  <div class="d-flex justify-content-between">
                    <div>Travel Dates</div>
                    <div><i class="fas fa-minus"></i></div>
                  </div>
                </button>
              </h2>
            </div>
            <div class="collapse show h-100">
              <div class="overflow-hidden card-body h-100 <%= request.url.match?(/itineraries/) ? "p-2" : ""%>">
                <%= render 'itineraries/dates_form' %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-<%= request.url.match?(/itineraries/) ? 12 : 6 %> mb-3">
          <div class="card h-100 shadow" id = "searchFormSection1Parent" data-controller="collapsible-sections" data-collapsible-sections-target="section">
            <div class="card-header bg-success">
              <h2 class="mb-0">
                <button class="section-header btn btn-link text-white text-decoration-none w-100" type="button" data-action = "click->collapsible-sections#toggleCollapse" id = "searchFormSection1">
                  <div class="d-flex justify-content-between">
                    <div>Passenger groups</div>
                    <div><i class="fas fa-minus"></i></div>
                  </div>
                </button>
              </h2>
            </div>

            <div class="collapse show" data-search-form-target="passengerGroups">
              <div class="card-body border-bottom for-removal d-none" data-search-form-target="passengerGroupPartial" data-controller="remove-section" data-remove-section-target = "section">
                <%= render 'itineraries/group_form', count: 0 %>
              </div>
              <% if request.url.match?(/itineraries/) %>
                <% (1..params[:passenger_group_count].to_i).each do |i| %>
                  <div class="card-body border-bottom" data-search-form-target="passengerGroupPartial" data-controller="remove-section" data-remove-section-target = "section">
                    <%= render 'itineraries/group_form', count: i %>
                  </div>
                <% end %>
              <% else %>
                <div class="card-body border-bottom" data-search-form-target="passengerGroupPartial" data-controller="remove-section" data-remove-section-target = "section">
                  <%= render 'itineraries/group_form', count: 1 %>
                </div>
              <% end %>
              <div class="clickable card-body d-flex" data-action="click->search-form#addPassengerGroup">
                  <div class = "me-3"><i class="fas fa-plus"></i></div>
                  <div>Add passenger group</div>
                  <%= number_field_tag 'passenger_group_count', params[:passenger_group_count] || 1, class: 'd-none', data: {search_form_target: 'passengerCount'} %>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="card mb-3 shadow" data-controller="collapsible-sections" data-collapsible-sections-target="section" id = "searchFormSection3Parent">
        <div class="card-header rounded bg-secondary">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed text-white text-decoration-none w-100" type="button" data-action = "click->collapsible-sections#toggleCollapse" id = "searchFormSection3">
              <div class="d-flex justify-content-between">
                <div>Destinations</div>
                <div><i class="fas fa-plus"></i></div>
              </div>
            </button>
          </h2>
        </div>
        <div class="collapse">
          <div class="card-body">
            <%= render 'itineraries/destination_form' %></div>
        </div>
      </div>
      <div class="card mb-3 shadow" data-controller="collapsible-sections" data-collapsible-sections-target="section" id = "searchFormSection4Parent">
        <div class="card-header rounded bg-secondary">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed text-white text-decoration-none w-100" type="button" data-action = "click->collapsible-sections#toggleCollapse" id = "searchFormSection4">
              <div class="d-flex justify-content-between">
                <div>Budget</div>
                <div><i class="fas fa-plus"></i></div>
              </div>
            </button>
          </h2>
        </div>
        <div class="collapse">
          <div class="card-body">
            <%= render 'itineraries/budget_form' %></div>
        </div>
      </div>
    </div>
