<%= form_tag itineraries_path, :method => :get do %>
  <div class="row">
    <div class="col-12 col-md-4 scroll-bar sticky-column p-4 pt-5">
      <div class="pe-2" style="text-align:end;">
        <button class="btn btn-primary align-items-center justify-content-end">
          <i class="fas fa-sync-alt text-white"></i> <%= submit_tag "Update results", class:"text-end no-button text-white" %>
        </button>
      </div>
      <div class="ps-4">
        <%= render 'itineraries/search_form_body', col_x: 'col-12', col_slider: 'col-12', col_number_field: 'col-12' %>
      </div>
    </div>

    <div class="col-12 offset-md-4 col-md-8">
      <div class="ps-3 pe-5">
        <div class="d-flex my-3 pt-4 justify-content-between align-items-end border-bottom border-success">
          <h2 class="text-center text-primary m-0">Top Recommendations</h2>
          <div class="d-flex align-items-center">
            <%= select_tag :sort, options_for_select([ "Price Descending", "Price Ascending", "Shortest flights", "Direct flights only" ], params[:sort]||"Price ⬇️"), onChange: "this.form.submit()", class: "btn btn-link text-start text-decoration-none text-strong"   %>
            <%= check_box_tag "direct_flights", true, params["direct_flights"]||false, checked: params["direct_flights"]||false, onChange: "submit()", class: "form-check-input me-2" %><div>  Direct Flights Only</div>
          </div>
        </div>

        <div class="">
          <% if @itineraries.empty? %>
            Sorry - no flights match your criteria!
          <% end %>
          <% @itineraries.each do |itinerary| %>
            <div class="pb-3">
              <div class="card-itinerary-recommendation">
                <%= image_tag(@images_by_itinerary_id[itinerary.id]) %>
                <div class="card-itinerary-recommendation-infos">
                  <% owned = itinerary.users.include?(current_user) %>
                  <h2 class="city-name"><strong><%= itinerary.destination.city %></strong></h2>
                  <% if owned %>
                    <span class="owned-tag px-2 py-1 rounded bg-primary text-white">booked</span>
                  <% end %>
                  <% description = itinerary.destination.lonely_planet_data["intro"] %>
                  <p><%= "#{description.strip.first(200)}#{description.strip.length > 200 ? "..." : ""}" %></p>
                  <br>
                    <% button_text = owned ? "View my itinerary" : "Explore"%>
                    <div class="row align-items-end justify-content-center text-end">
                      <% if owned %>
                        <%= link_to itinerary_path(itinerary), class: "col-md-6 btn btn-success text-white px-3 align-self-end" do %>
                          <i class=" text-white pe-1 fas fa-plane-departure me-2"></i><%=button_text%>
                        <% end %>
                      <% else %>
                        <div class="col-md-7">
                          <div style=""><p>Avg time/leg: <strong><%=itinerary.avg_time %></strong>h</p></div>
                          <div style=""><p>Avg cost/person: <strong><%=number_with_precision(itinerary.avg_cost, precision: 2, :delimiter => ',') %></strong>€ </p></div>
                        </div>
                        <div class="col-md-3 offset-md-1 d-flex  justify-content-center">
                        <%= link_to itinerary_path(itinerary), class: "btn btn-success d-flex align-items-center text-white" do %>
                          <i class=" text-white pe-1 fas fa-plane-departure me-2"></i><%=button_text%>
                        <% end %>
                        </div>
                      <% end %>
                    </div>
                </div>
              </div>
            </div>
          <% end %>
         </div>
    </div>
<% end %>
