<h1 class = "text-center text-success border-bottom border-primary my-5">
  <strong><i class="fas fa-plane"></i> Find your <span class="text-primary">perfect</span> holiday destination</strong>
</h1>

<%= form_tag itineraries_path, :method => :get do %>
  <div class="container p-3 ">
    <div class="accordion" data-controller="search-form">
      <div class="text-end mb-3">
        <%= submit_tag "Let's fly!", class: "btn btn-success text-white" %>
      </div>
      <div class="card mb-3 shadow" id = "searchFormSection1Parent">
        <div class="card-header bg-success">
          <h2 class="mb-0">
            <button class="section-header btn btn-link text-white text-decoration-none w-100" type="button" data-action = "click->search-form#toggleCollapse" id = "searchFormSection1">
              <div class="d-flex justify-content-between">
                <div>Passenger groups</div>
                <div><i class="fas fa-minus"></i></div>
              </div>
            </button>
          </h2>
        </div>

        <div class="collapse show">
          <div class="card-body border-bottom" data-search-form-target="passengerGroupPartial" data-controller="remove-section" data-remove-section-target = "section">
            <%= render 'itineraries/group_form', count: 1 %>
          </div>
          <div class="card-body border-bottom" data-controller="remove-section" data-remove-section-target = "section">
            <%= render 'itineraries/group_form', count: 2 %>
          </div>
          <div class="clickable card-body d-flex" data-action="click->search-form#addPassengerGroup">
              <div class = "me-3"><i class="fas fa-plus"></i></div>
              <div>Add passenger group</div>
              <%= number_field_tag params[:passenger_group_count], 1, class: 'd-none', data: {search_form_target: 'passengerCount'} %>
          </div>
        </div>
      </div>
      <div class="card mb-3 shadow" id = "searchFormSection2Parent">
        <div class="card-header bg-success">
          <h2 class="mb-0">
            <button class="btn btn-link text-white text-decoration-none w-100" type="button" data-action = "click->search-form#toggleCollapse" id = "searchFormSection2">
              <div class="d-flex justify-content-between">
                <div>Travel Dates</div>
                <div><i class="fas fa-minus"></i></div>
              </div>
            </button>
          </h2>
        </div>
        <div class="collapse show">
          <div class="card-body">
            <%= render 'itineraries/dates_form' %>
          </div>
        </div>
      </div>
      <div class="card mb-3 shadow" id = "searchFormSection3Parent">
        <div class="card-header rounded bg-secondary">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed text-white text-decoration-none w-100" type="button" data-action = "click->search-form#toggleCollapse" id = "searchFormSection3">
              <div class="d-flex justify-content-between">
                <div>Destinations</div>
                <div><i class="fas fa-plus"></i></div>
              </div>
            </button>
          </h2>
        </div>
        <div class="collapse">
          <div class="card-body">
            <%= render 'itineraries/destination_form' %></div>
        </div>
      </div>
      <div class="card mb-3 shadow" id = "searchFormSection4Parent">
        <div class="card-header rounded bg-secondary">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed text-white text-decoration-none w-100" type="button" data-action = "click->search-form#toggleCollapse" id = "searchFormSection4">
              <div class="d-flex justify-content-between">
                <div>Budget</div>
                <div><i class="fas fa-plus"></i></div>
              </div>
            </button>
          </h2>
        </div>
        <div class="collapse">
          <div class="card-body">
            <%= render 'itineraries/budget_form' %></div>
        </div>
      </div>
    </div>

  </div>
<% end %>
