<div class = "container">
    <div class ="pt-5">
      <h1>Discover <strong class="title-colour"><%= @location.city%></strong></h1>
    </div>
</div>

<div class ="container main-image pt-3 text-center box" style= "background-image: url('<%=@location.images.first.url%>'); background-size: cover; background-position: 0px -130px;">
  <% if !@itinerary.users.include?(current_user) %>
    <%= simple_form_for([@itinerary, @permission], url: itinerary_permissions_path(@itinerary), method: :post ) do |f| %>
      <%= f.input :itinerary_id, input_html: { class: 'd-none' }, label: false %>
      <%= f.button :submit, "Select this destination", data: {turbo_method: :post}, class: "button-destination" %>
    <% end %>
  <% end %>
</div>

<div class="container mt-3">
    <div class="mb-3">
      <%= render 'shared/collapsible_section', section_title: "Learn more about #{@location.city}", section_partial: 'locations/lonely_planet_description', section_partial_params: { lonely_planet: @itinerary.destination.lonely_planet_data }, open: false, bg_collapsed: 'bg-primary' %>
    </div>
    <div class="mb-3">
      <%= render 'shared/collapsible_section', section_title: 'Flights Overview', section_partial: 'itineraries/group_flights_overview', section_partial_params: { itinerary: @itinerary }, open: true %>
    </div>
</div>
