<div>
  <p class="border-bottom text-success ">
    Flight from <strong class="text-primary"><%=f["departure_city"]%></strong> to <strong class="text-primary"><%=f["arrival_city"]%></strong>
  </p>
  <p>
    Departure: <%= DateTime.parse(f["departure_time"]).strftime('%d:%b') %>, <%= DateTime.parse(f["arrival_time"]).strftime('%H:%M') %>h
  </p>
  <p>
    Arrival: <%= DateTime.parse(f["arrival_time"]).strftime('%d:%b') %>, <%= DateTime.parse(f["arrival_time"]).strftime('%H:%M') %>h
  </p>
</div>
