<div class="itinerary-overview">
  <div class="destination-title ps-5 py-3">
    <div class="round-image"><%= image_tag(itinerary.destination.images.first.url) %></div>
    <h3 class="ps-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Your trip to <strong class="text-success" style="text-decoration: underline;"><%=itinerary.destination.city%></strong></h3>
  </div>

  <!-- Modal -->
  <%= render 'users/modal_lonely_planet', itinerary: itinerary %>

  <!-- Cards with flight info -->
  <div class="small-card-overview">
    <% PassengerGroup.order_by_flight_info(itinerary.passenger_groups).each do |group| %>
      <div class="small-card-booking py-3">
        <button class="circle-booking me-3"><i class="fa-solid fa-plane text-white fa-rotate-90"></i></button>
        <div class="small-card-overview-info p-3">
          <% bookings = group.bookings.filter {|b| b.status == "confirmed" } %>
          <div class="card-departure-info">
            <% if bookings.empty? %>
              <div class="d-flex justify-content-between align-items-center">
                <strong><%= group.origin_city.city %></strong>
                <%= link_to itinerary_path(group.itinerary), class: "btn btn-link text-secondary text-decoration-none" do %>
                  <i class="fas fa-search"></i> "Choose flights"
                <% end %>
              </div>
            <% else %>
              <% if bookings.first.offer["flights_there"].count >= 1 %>
                <% bookings.first.offer["flights_there"].each do |f| %>
                  <%= render partial: 'users/flight_info', locals: {f: f }%>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="small-card-destination" data-bs-toggle="modal" data-bs-target="#exampleModal"><h4><strong><%=itinerary.destination.city%></strong></h4></div>

    <%# REFACTOR RETURN FLIGHTS %>

    <% PassengerGroup.order_by_flight_info(itinerary.passenger_groups).each do |group| %>
        <% if group.bookings.first.offer["flights_return"].count >= 1 %>
          <% bookings = group.bookings.filter {|b| b.status == "confirmed" } %>
            <div class="small-cards-return">
              <div class="small-card-booking py-3">
                <button class="circle-booking-up me-3"><i class="fa-solid fa-plane text-white fa-rotate-90"></i></button>
                <div class="small-card-overview-info-return p-3">
                  <div class="card-departure-info">
                    <% if bookings.empty? %>
                      <div class="d-flex justify-content-between align-items-center">
                        <strong><%= group.origin_city.city %></strong>
                        <%= link_to itinerary_path(group.itinerary), class: "btn btn-link text-secondary text-decoration-none" do %>
                          <i class="fas fa-search"></i> "Choose flights"
                        <% end %>
                      </div>
                    <% else %>
                      <% bookings.first.offer["flights_return"].each do |f| %>
                        <%= render partial: 'users/flight_info', locals: {f: f }%>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>
</div>
