<% @upcoming_itineraries.each do |itinerary| %>
  <div class="itinerary-overview">
    <div class="destination-title ps-5 py-3">
      <%= image_tag(itinerary.destination.images.first.url) %>
      <h3 class="ps-2">Your trip to
        <strong>
          <%=link_to itinerary.destination.city, itinerary_path(itinerary)%>
        </strong>
      </h3>
    </div>

    <div class="small-card-overview">
      <% groups = PassengerGroup.order_by_flight_info(itinerary.passenger_groups)  %>
      <% groups.each do |group| %>
        <% info = group.flight_info %>
        <%= render 'users/sessions/flight_card', group: group, flights: info[:flight_there], button_class: "circle-booking me-3", small_card_class: "circle-booking-up me-3" %>
      <% end %>

      <div class="small-card-destination"><h4><strong><%=itinerary.destination.city%></strong></h4></div>

      <% PassengerGroup.order_by_flight_info(itinerary.passenger_groups).each do |group| %>
        <% info = group.flight_info %>
        <% if info[:flight_return].count >= 1 %>
          <div class="small-cards-return">
            <%= render 'users/sessions/flight_card', group: group, flights: info[:flight_there], button_class: "circle-booking-up me-3", small_card_class: "small-card-overview-info-return p-3" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
