<% @upcoming_itineraries.each do |itinerary| %>

    <div class="card-overview">
    <div class="card-overview-title p-3">
        <h4>Trip to <strong><%=itinerary.destination.city%></strong></h4>
        <i class="fas fa-minus i-title"></i>
    </div>
    
    <% itinerary.passenger_groups.each do |group| %>
        <div class="card-overview-info">
        <p class="origin-city"><strong><%=group.origin_city.city%></strong></p>
        <p>Passangers: <%="#{group.adults} #{"Adult".pluralize(group.adults)}, "%>
        <%="#{group.children} #{"Child".pluralize(group.children)}"%></p>
        
        <% info = group.flight_info %>

        <% if info[:flight_there].count >= 1 %>
            <% info[:flight_there].each do |f| %>
                                    
            <p>Departure date: <%= f.departure_time.strftime('%d %b, %Y')%></p>
            
            <div class="flight-time py-2 px-5">
                <div class="flight-time-location">
                <h3 class="m-0"><%= f.departure_time.strftime('%H:%M')%>h</h3>
                <p><%=group.origin_city.city%></p>
                </div>
                <i class="fa-solid fa-plane"></i>
                <div class="flight-time-location">
                <h3 class="m-0"><%= f.arrival_time.strftime('%H:%M') %>h</h3>
                <p><%=itinerary.destination.city%></p>
                </div>
            </div>
            <% end %>                        
        <% end %>

        <%# REFACTOR FLIGHT RETURN  %>

        <% if info[:flight_return].count >= 1 %>
            <% info[:flight_return].each do |f| %>
                                    
            <p>Departure date: <%= f.departure_time.strftime('%d %b, %Y')%></p>
            
            <div class="flight-time py-2 px-5">
                <div class="flight-time-location">
                <h3 class="m-0"><%= f.departure_time.strftime('%H:%M')%>h</h3>
                <p><%=group.origin_city.city%></p>
                </div>
                <i class="fa-solid fa-plane"></i>
                <div class="flight-time-location">
                <h3 class="m-0"><%= f.arrival_time.strftime('%H:%M') %>h</h3>
                <p><%=itinerary.destination.city%></p>
                </div>
            </div>
            <% end %>                        
        <% end %>
        </div>
    <% end %>
    </div>

<% end %>