<div class="row user-page">
  <div class="col-12 col-sm-4 col-md-4 upcoming-trips">
    <div class="py-3 ps-5 pe-2">
      <h3 class="text-center py-3">Your upcoming trips</h3>
        <% upcoming_itineraries = @user_itineraries.map {|i| i.start_date >= Date.today ? i : nil}.reject(&:nil?) %>   
        
        <% if upcoming_itineraries.empty? %>
          <p class="text-center">You have no past trips</p>
        <% else %>
          
          <% upcoming_itineraries.each do |itinerary| %>

            <div class="card-overview">
              <div class="card-overview-title p-3">
                <h4>Trip to <strong><%=itinerary.destination.city%></strong></h4>
                <i class="fas fa-minus i-title"></i>
              </div>
              <% itinerary.passenger_groups.each do |group| %>
                <div class="card-overview-info">
                    <p class="origin-city"><strong><%=group.origin_city.city%></strong></p>
                    <p>Passangers: <%="#{group.adults} #{"Adult".pluralize(group.adults)}, "%>
                    <%="#{group.children} #{"Child".pluralize(group.children)}"%></p>
                    
                    <% info = group.flight_info %>

                    <% if info[:flight_there].any? %>
                      <% flight_id = info[:flight_there][0].id%>
                      <% flight = Flight.find(flight_id) %>
                      
                      <p>Departure date: <%= flight.departure_time.strftime('%d %b, %Y')%></p>
                      
                      <div class="flight-time py-2 px-5">
                        <div class="flight-time-location">
                          <h3 class="m-0"><%= flight.departure_time.strftime('%H:%M')%>h</h3>
                          <p><%=group.origin_city.city%></p>
                        </div>
                        <i class="fa-solid fa-plane"></i>
                        <div class="flight-time-location">
                          <h3 class="m-0"><%= flight.arrival_time.strftime('%H:%M') %>h</h3>
                          <p><%=itinerary.destination.city%></p>
                        </div>
                      </div>                        
                      
                    <% elsif info[:flight_return].any? %>
                        <%= info[:flight_return]%>
                    <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>

      <h3 class="pt-5 pb-5 text-center">text text</h3>
      <h3 class="pt-5 pb-5 text-center">text text</h3>
        
      <h3 class="pt-5 pb-3 text-center">Your past trips</h3>
        <% past_itineraries = @user_itineraries.map {|i| i.start_date < Date.today ? i : nil}.reject(&:nil?) %>   
        <% if past_itineraries.empty? %>
          <p class="text-center">You have no past trips</p>
          
        <% else %>
          <% past_itineraries.each do |itinerary| %>
            <%= itinerary.passenger_groups.first.origin_city.city %>
            <%= itinerary.passenger_groups.first.flight_info %>
          <% end %> 
        <% end %>
    </div>
  </div>

  

  <div class="col-12 col-sm-8 col-md-8 border-start border-sucess">
    <div class="ps-2 pe-5">
      <h2 class="text-center pt-5">Itinerary view</h2>
    </div>
  </div>
</div>

  


