<div class="row user-page pt-5" data-controller="render-itinerary-in-user-show-page">
  <div class="col-12 col-sm-4 col-md-4 upcoming-trips scroll-bar">
    <div class="py-3 ps-5 pe-2">
      <h3 class="text-center py-3">Your upcoming trips</h3>
      <% if @upcoming_itineraries.empty? %>
        <p class="text-center">You have no past trips</p>
      <% else %>
        <% @upcoming_itineraries.each_with_index do |itinerary, i| %>
          <% collapsed = (i != 0 ? true : false) %>

          <div class = "mb-3" data-action="click->render-itinerary-in-user-show-page#renderItineraryPartial">
            <%= form_tag(itinerary_path(itinerary), method: :get) do %>
              <div class="d-none itinerary">
                <%=itinerary.id%>
              </div>
              <%= render 'shared/collapsible_section', section_partial: 'users/sessions/single_trip_info', section_partial_params: { itinerary: itinerary }, collapsed: collapsed, clickable_header: true do %>
                  <div><%= "Trip to #{itinerary.destination.city}" %></div>
                  <% if Permission.find_by(user: current_user, itinerary: itinerary).role == "guest" %>
                    <div class="text-sm p-1 rounded bg-primary text-white">Shared with you</div>
                  <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <h3 class="pt-5 pb-3 text-center">Your past trips</h3>
        <% if @past_itineraries.empty? %>
          <p class="text-center">You have no past trips</p>
        <% else %>
          <% @past_itineraries.each do |itinerary| %>
            <div data-action="click->render-itinerary-in-user-show-page#renderItineraryPartial">
              <%= form_tag(itinerary_path(itinerary), method: :get) do %>
                <div class="d-none itinerary">
                  <%=itinerary.id%>
                </div>
                <%= render 'shared/collapsible_section', section_title: "Trip to #{itinerary.destination.city}", section_partial: 'users/sessions/single_trip_info', section_partial_params: { itinerary: itinerary }, collapsed: true %>
              <% end %>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>



  <div class="col-12 col-sm-8 col-md-8">
    <div class="pt-3 px-3 itinerary-overview">
      <div class="scroll-bar" data-render-itinerary-in-user-show-page-target="itinerary">
        <%= render 'users/small_flight_info_card', itinerary: @shown_itinerary ? Itinerary.find(@shown_itinerary) : @upcoming_itineraries.first, permission: @permission, invited_user: User.find_by(email: @invited_user) %>
      </div>
    </div>
  </div>
</div>
