<div class="row user-page pt-5" data-controller="render-itinerary-in-user-show-page">
  <div class="col-12 col-sm-4 col-md-4 upcoming-trips scroll-bar">
    <div class="py-3 ps-5 pe-2">
      <h3 class="text-center py-3">Your upcoming trips</h3>
      <% if @upcoming_itineraries.empty? %>
        <p class="text-center">You have no past trips</p>
      <% else %>
        <% @upcoming_itineraries.each_with_index do |itinerary, i| %>
          <% next if itinerary.permissions.empty? %>
          <% collapsed = (i != 0 ? true : false) %>
          <div class = "mb-3">
              <%= render 'shared/collapsible_section', section_partial: 'users/sessions/single_trip_info', section_partial_params: { itinerary: itinerary }, collapsed: collapsed, clickable_header: false, card_body_p_x: "py-0 my-0" do %>
                <div class="w-100 d-flex align-items-center clickable" data-action="click->render-itinerary-in-user-show-page#renderItineraryPartial">
                  <%= form_tag(itinerary_path(itinerary), method: :get) do %>
                    <div class="d-inline-flex">
                      <div><%= "Trip to #{itinerary.destination.city}" %></div>
                      <% if Permission.find_by(user: current_user, itinerary: itinerary).role == "guest" %>
                        <div class="ms-3 text-sm p-1 rounded bg-primary text-white">Shared</div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <h3 class="pt-5 pb-3 text-center">Your past trips</h3>
        <% if @past_itineraries.empty? %>
          <p class="text-center">You have no past trips</p>
        <% else %>
          <% @past_itineraries.each do |itinerary| %>
            <% next if itinerary.permissions.empty? %>
            <div data-action="click->render-itinerary-in-user-show-page#renderItineraryPartial">
              <%= render 'shared/collapsible_section', section_partial: 'users/sessions/single_trip_info', section_partial_params: { itinerary: itinerary }, collapsed: true do %>
                <div class="d-inline-flex">
                  <%= form_tag(itinerary_path(itinerary), method: :get) do %>
                    <div><%= "Trip to #{itinerary.destination.city}" %></div>
                    <% if Permission.find_by(user: current_user, itinerary: itinerary).role == "guest" %>
                      <div class="ms-3 text-sm p-1 rounded bg-primary text-white">Shared</div>
                    <% end %>
                </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>



  <div class="col-12 col-sm-8 col-md-8">
    <div class="pt-3 px-3 itinerary-overview">
        <% if @upcoming_itineraries.empty? %>
          <h2 class="m-3 p-3 text-success text-center">You have no itineraries</h2>
          <h4 class="m-3 p-3 text-primary text-center"><strong><%= link_to "Search trip ideas", '/search' %></strong></h4>
        <% else %>
          <% itinerary = @shown_itinerary ? Itinerary.find(@shown_itinerary) : @upcoming_itineraries.first %>
          <%= render 'users/itinerary_header', itinerary: itinerary, permission: @permission, invited_user: User.find_by(email: @invited_user) %>
          <div class="scroll-bar" data-render-itinerary-in-user-show-page-target="itinerary">
            <%= render 'users/small_flight_info_card', itinerary: itinerary %>
          </div>
        <% end %>
      <div class="chat border-light" data-controller="chat">
        <div class = "clickable d-flex justify-content-between align-items-center bg-primary text-white p-2" data-action="click->chat#toggle">
          <i class="fas fa-comments"></i>
          <i data-chat-target="showIcon" class="fas fa-chevron-up"></i>
          <i data-chat-target="hideIcon" class="fas fa-chevron-down d-none"></i>
        </div>
        <div data-chat-target="messageBox" class="chat-messages d-none border border-primary"></div>
      </div>
    </div>
  </div>
</div>
