<% bg_collapsed ||= 'bg-secondary' %>
<% bg_open ||= 'bg-success' %>
<% p_x ||= '' %>
<% text_collapsed ||= 'text-white' %>
<% text_open ||= 'text-white' %>
<% clickable_header ||= false %>
<div class="card h-100 shadow"
  data-controller="collapsible-sections"
  data-collapsible-sections-target="section"
  data-collapsible-sections-open-value=<%=bg_open%>
  data-collapsible-sections-closed-value=<%=bg_collapsed%>
  data-collapsible-sections-text-open-value=<%=text_open%>
  data-collapsible-sections-text-closed-value=<%=text_collapsed%>
  >
  <div class="card-header <%=clickable_header ? 'clickable' : '' %> <%= collapsed ? "#{bg_collapsed} rounded" : bg_open %> <%= p_x %>">
    <h2 class="mb-0">
      <div class="text-lg p-2 <%=collapsed ? text_collapsed : text_open %> text-decoration-none w-100" data-collapsible-sections-target="button" >
        <div class="d-flex justify-content-between">
          <div><%= section_title %></div>
          <div data-action = "click->collapsible-sections#toggleCollapse"><i class="clickable fas fa-<%= collapsed ? 'plus' : 'minus'%>"></i></div>
        </div>
      </div>
    </h2>
  </div>
  <div class="collapse <%= collapsed ? '' : 'show' %>">
    <div class="card-body">
      <%= render section_partial, section_partial_params %>
    </div>
  </div>
</div>
