<div class="card h-100 shadow" data-controller="collapsible-sections" data-collapsible-sections-target="section">
  <div class="card-header <%= open ? 'bg-success' : 'bg-secondary' %>">
    <h2 class="mb-0">
      <button class="btn btn-link text-white text-decoration-none w-100" type="button" data-action = "click->collapsible-sections#toggleCollapse" id = "searchFormSection2">
        <div class="d-flex justify-content-between">
          <div><%= section_title %></div>
          <div><i class="fas fa-<%= open ? 'minus' : 'plus'%>"></i></div>
        </div>
      </button>
    </h2>
  </div>
  <div class="collapse <%= open ? 'show' : '' %>">
    <div class="card-body">
      <%= render section_partial, section_partial_params %>
    </div>
  </div>
</div>
