
<div class="row">
  <div class="offset-1 col-10 offset-md-3 col-md-6">
    <div class="p-3 container shadow bg-white border-success">
      <h1 class = "mb-3 p-0 text-center text-success border-bottom border-primary sticky-header">
        <%= t "devise.invitations.edit.header" %> <span class="text-primary"><i class="fas fa-plane-alt"></i></span>
      </h1>

      <%= simple_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <%= f.hidden_field :invitation_token %>

        <div class="form-inputs">
          <%= f.input :first_name, input_html: {value: ""} %>
          <%= f.input :last_name, input_html: {value: ""} %>
          <%= f.input :email %>
          <%= f.input :home_city_id, collection: Location.all.order(:city), label_method: :city, value_method: :id, prompt: "Choose a Location" %>
          <%= f.input :password, input_html: {value: ""} %>
          <%= f.input :password_confirmation %>
        </div>

        <div class="form-actions text-center">
          <%= f.button :submit, t("devise.invitations.edit.submit_button"), class: "btn btn-primary text-white" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
