<div class="container m-3">
  <div class="text-xl border-bottom border-success">
    <i class="fas fa-street-view"></i> "<%= lonely_planet["intro"] %>"
  </div>
  <div class="text-end mt-0 mb-5">
    <a href= <%= lonely_planet["link"]%> target="_blank" class="text-decoration-none">
      <i class="fas fa-globe-americas"></i> <span class="text-secondary">Read more on<span class="text-primary"><strong> Lonely Planet</strong></span>!</span>
    </a>
  </div>

  <% lonely_planet["sections"].each_with_index do |section, i| %>
    <div class="d-flex mb-4">
      <% if i % 2 == 0 && i < 5 %>
        <div class="w-20 bg-primary me-3" style="background-image: url('<%=images[4-i].url%>'); background-size: cover;"></div>
      <% end %>
      <div class="w-80">
        <h4>
          <span class = "text-success">
            <strong><%= section["title"] %></strong>
          </span>
        </h4>
        <%= section["body"] %>
      </div>
      <% if i % 2 == 1 && i < 5 %>
        <div class="w-20 bg-primary ms-3" style="background-image: url('<%=images[4-i].url%>'); background-size: cover;"></div>
      <% end %>
    </div>
  <% end %>


</div>
